@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
 }

 .header a:hover {
  background-color: #e0cbe5;
  color: black;
}

 .header a.active {
  background-color: #84269c;
  color: white;
}

.header-right {
  float: right;
}

body {
	background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

p {
	color: 454343;
	font-family: 'Open Sans', sans-serif;	
	font-size: 25px;
	font-weight:600;
	max-width: 350px;
	margin-left: 3em;
}

ul {
	color: 454343;
	font-family: 'Open Sans', sans-serif;	
	font-size: 25px;
	font-weight:600;
	margin-left: 5em;
}

a {
	color: #84269c;
}